.container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    background: gray;
}
img {
    width: 300px;
    height: 50%;
}
.header {
    color: tomato;
    font-weight: bold;
    font-size: 2.5rem;
    margin: auto;
    margin-top: 10px;
}
.Deparment {
    font-weight: 600;
    font-size: 1.7rem;
    margin: auto;
    margin-top: 10px;
}
.LTD {
    font-size: 2.2rem;
    margin: 0;
    font: bold;
    margin-top: 10px;
}
.contact {
    width: 6px;
    height: 150px;
    background: tomato;
    font-size: 1.4rem;
}
.con {
    margin-left: 20px;
    font-weight: bold;
}
